/* #6c8ebf; */
:root {
  --main-color: #61dafb;
  --border-radius: 3.5px;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --danger-color: #dc3545;
  --sucess-color: #28a745;
  --secondary-color: #6c757d;
  --primary-color: #007bff;
  --background-color: #fafbfc;
  --hover-color: #e4f0f6;
  --hover-text-color: #0079bf;
}
.logo-icon {
  pointer-events: none;
  margin-right: 10px;
  width: 45px;
  height: 35px;
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

header.dark * {
  color: white;
  background-color: black;
}
header.light * {
  color: black;
  background-color: rgb(245, 245, 245);
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#root header {
  min-height: 44px;
  max-height: 44px;
  overflow: hidden;
}
/* Navbar */
.navbar {
  display: flex;
  background-color: #20232a;
  color: white;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
  height: 44px;
  width: 100%;
}
.navbar .navbar-left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-left a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 24px;
  padding-right: 20px;
  text-decoration: none;
}
.navbar .navbar-left a:hover .logo-icon {
  animation: logo-spin infinite 2s linear;
}
.navbar .navbar-left ul li {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.navbar .navbar-left li span {
  display: inline-flex;
  margin-left: 5px;
}
.navbar .navbar-left li:hover {
  color: var(--main-color);
}
.navbar .navbar-left li:hover .navbar-dropdown {
  display: block;
}
.navbar .navbar-left .navbar-responsive-toggle {
  display: none;
}
.navbar .navbar-dropdown {
  top: 40px;
  position: absolute;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  color: black;
  min-width: 280px;
  display: none;
}
.navbar .navbar-dropdown h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
  cursor: default;
}
.navbar .navbar-dropdown ul {
  display: flex;
  padding: 8px;
  flex-direction: column;
}
.navbar .navbar-dropdown ul li {
  padding: 8px;
  display: flex;
  border-radius: var(--border-radius);
}
.navbar .navbar-dropdown ul li:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}
.navbar .navbar-left .navbar-dropdown ul li img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}
.navbar .navbar-left .navbar-dropdown {
  margin-left: -10px;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-star-items {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-star-items div {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.navbar
  .navbar-left
  .navbar-dropdown
  .navbar-dropdown-star-items
  div:nth-child(2) {
  font-size: 24px;
}
.navbar
  .navbar-left
  .navbar-dropdown
  .navbar-dropdown-star-items
  div:nth-child(2):after,
.dashboard-container .content .content-body .content-body-star-icon:after,
.workspace-container .header .workspace-header-star-icon:after {
  color: #ffe000;
  content: "\2605";
}
.navbar
  .navbar-left
  .navbar-dropdown
  .navbar-dropdown-star-items
  div:nth-child(2):hover:after,
.dashboard-container
  .content
  .content-body
  .content-body-star-icon:hover:after {
  content: none;
  content: "\2606";
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-icon-items {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-icon-items span {
  font-weight: 450;
  margin-left: 0;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-icon-items p {
  font-size: 10px;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-icon-items svg {
  margin-left: 20px;
}
.navbar .navbar-left .navbar-dropdown .navbar-dropdown-icon-items:hover svg {
  color: var(--main-color);
}
.navbar .navbar-right {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-right .navbar-right-search {
  padding: 0.32rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-right .navbar-right-search span {
  display: inline-flex;
}
.navbar .navbar-right .navbar-right-search input {
  outline: none;
  border: none;
  padding: 0.08rem 0.75rem;
  height: 100%;
  font-size: 1rem;
  transition: width 0.6s;
  -webkit-transition: 0.6s;
  width: 100px;
}
.navbar .navbar-right .navbar-right-search input:focus {
  width: 250px;
}
.navbar .navbar-right .navbar-right-icons ul {
  display: inline-flex;
}
.navbar .navbar-right .navbar-right-icons ul li {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}
.navbar .navbar-right .navbar-right-icons li:hover {
  cursor: pointer;
  color: var(--main-color);
}
.navbar .navbar-right .navbar-right-icons img {
  height: 30px;
  width: 30px;
  border: 0.1px solid lightgrey;
  border-radius: 15px;
  cursor: pointer;
}
.navbar .navbar-right li:hover .navbar-dropdown {
  display: block;
}
.navbar .navbar-right .navbar-dropdown {
  right: 5px;
  box-shadow: var(--box-shadow);
  width: fit-content;
}
.navbar .navbar-right .navbar-dropdown ul {
  display: flex;
}
.navbar .navbar-right .navbar-dropdown span:hover,
.navbar .navbar-right .navbar-dropdown a:hover {
  color: black;
  background-color: var(--hover-color);
}
.navbar .navbar-right .navbar-dropdown ul a,
.navbar .navbar-right .navbar-dropdown ul span {
  padding: 7px;
  margin: 0;
}
.navbar .navbar-right .navbar-dropdown ul hr {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}
.navbar .navbar-right .navbar-dropdown-noti {
  width: 450px;
}
.navbar .navbar-right .navbar-dropdown-noti h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .navbar-right .navbar-dropdown-noti ul div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
.navbar .navbar-right .navbar-dropdown-noti ul div div * {
  padding: 10px;
}
.navbar .navbar-right .navbar-dropdown-noti ul div label {
  font-size: 12px;
  color: var(--secondary-color);
  cursor: pointer;
}
.navbar .navbar-right .navbar-dropdown-noti ul div input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
.navbar .navbar-right .navbar-dropdown-noti input[type="checkbox"]:before {
  cursor: pointer;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #555555;
  border-radius: var(--border-radius);
  background-color: white;
  position: absolute;
  top: -2px;
}
.navbar
  .navbar-right
  .navbar-dropdown-noti
  input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid var(--main-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  transform: rotate(45deg);
  left: 4px;
}
.navbar .navbar-right .navbar-dropdown .navbar-dropdown-noti-content {
  flex-direction: column;
  min-height: 100px;
}
.navbar .navbar-right .navbar-dropdown .navbar-dropdown-noti-content img {
  border: 0;
  height: 30%;
  width: 30%;
}
@media screen and (max-width: 1280px) {
  .navbar .navbar-responsive-item {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 1000;
    color: black;
    position: absolute;
    top: 40px;
    /* left: 150px; */
    width: 230px;
    display: none;
  }
  .navbar .navbar-left ul li {
    display: flex;
    justify-content: space-between;
  }
  .navbar .navbar-left ul li ul li {
    display: flex;
    justify-content: flex-start;
  }
  .navbar .navbar-left li:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-color);
  }
  .navbar .navbar-left .navbar-dropdown {
    position: absolute;
    left: 240px;
    top: 10px;
  }
  .navbar .navbar-left .navbar-responsive-toggle {
    display: flex;
    padding: 10px;
    cursor: pointer;
  }
  .navbar .navbar-left .navbar-responsive-toggle span {
    display: inline-flex;
    align-items: center;
  }
  .navbar .navbar-left .navbar-responsive-toggle:hover {
    color: var(--main-color);
  }
  .navbar
    .navbar-left
    .navbar-responsive-toggle:hover
    ~ .navbar-responsive-item,
  .navbar-responsive-item:hover {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar .navbar-left a span,
  .navbar .navbar-right .navbar-right-search {
    display: none;
  }
}

/* Dashboard */
.dashboard-container {
  padding: 20px 20px;
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.dashboard-container img {
  width: 200px;
  height: 170px;
  object-fit: cover;
  filter: brightness(0.65);
}
.dashboard-container .slide-menu {
  /* padding: 10px; */
  height: fit-content;
  width: 300px;
}
.dashboard-container .slide-menu .slide-menu-top-items {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dashboard-container .slide-menu .slide-menu-top-items:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.dashboard-container .slide-menu .slide-menu-top-items ~ .active {
  color: var(--hover-text-color);
  background-color: var(--hover-color);
}
.dashboard-container .slide-menu .slide-menu-top-items svg {
  margin-right: 10px;
  vertical-align: bottom;
}
.dashboard-container .slide-menu .slide-menu-workspace-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--secondary-color);
}
.dashboard-container .slide-menu .slide-menu-workspace-title span {
  display: inline-flex;
}
.dashboard-container
  .slide-menu
  .slide-menu-workspace-title
  span:nth-child(2):hover {
  color: black;
  cursor: pointer;
}
.dashboard-container .slide-menu .slide-menu-input-container {
  padding: 0px 10px;
}
.dashboard-container .slide-menu .item-add .item-add-content {
  border: 1px solid black;
}
.dashboard-container .slide-menu .item-add .item-add-content input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}
.dashboard-container .slide-menu .item-add .item-add-button button {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin: 0;
}
.dashboard-container .slide-menu .item-add .item-add-button span {
  font-size: 22px;
  padding: 10px;
  display: inline-flex;
  vertical-align: bottom;
}
.dashboard-container .slide-menu .slide-menu-workspace-list {
  overflow-y: auto;
  /* height: 650px; */
}
.dashboard-container
  .slide-menu
  .slide-menu-workspace-list
  .list-workspace-title,
.dashboard-container
  .slide-menu
  .slide-menu-workspace-list
  .list-workspace-title
  div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.dashboard-container
  .slide-menu
  .slide-menu-workspace-list
  .list-workspace-title {
  padding: 10px;
  transition: 0.5s;
}
.dashboard-container .slide-menu .slide-menu-workspace-list img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 15px;
}
.dashboard-container
  .slide-menu
  .slide-menu-workspace-list
  .workspace-dropdown
  li {
  padding: 10px 10px 10px 40px;
  transition: 0.5s;
}

.dashboard-container .slide-menu .workspace-dropdown .workspace-dropdown-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}
.dashboard-container
  .slide-menu
  .workspace-dropdown
  .workspace-dropdown-items
  svg {
  vertical-align: bottom;
}
.dashboard-container
  .slide-menu
  .slide-menu-workspace-list
  .list-workspace-title:hover,
.dashboard-container .slide-menu .workspace-dropdown ul li:hover {
  background-color: rgb(235, 235, 235);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.dashboard-container
  .slide-menu
  .workspace-dropdown
  ul
  li:hover
  .workspace-downdown-items-icons {
  opacity: 1;
  right: 100%;
  transform: translate(-20%, 0);
}
.dashboard-container
  .slide-menu
  .workspace-dropdown
  .workspace-downdown-items-icons {
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.dashboard-container
  .slide-menu
  .workspace-dropdown
  .workspace-dropdown-items
  div
  span {
  margin-right: 10px;
}
.dashboard-container .content {
  padding-left: 10px;
  width: calc(100% - 300px);
  position: relative;
  box-sizing: border-box;
}
.dashboard-container .content section {
  margin-bottom: 30px;
  width: 100%;
}
.dashboard-container .content .content-title {
  display: flex;
  align-items: center;
}
.dashboard-container .content .content-title svg {
  margin-right: 15px;
}
.dashboard-container .content .content-body {
  display: flex;
  margin-top: 10px;
  font-size: 22px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
}
.dashboard-container .content .content-body div {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
}
.dashboard-container .content .content-body div img {
  border-radius: var(--border-radius);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dashboard-container .content .content-body div:hover img {
  filter: brightness(0.5);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.dashboard-container .content .content-body .content-body-star-name {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  box-shadow: var(--box-shadow);
  font-weight: bold;
}
.dashboard-container .content .content-body .content-body-star-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.2s ease-in-out;
}
.dashboard-container .content .content-body .content-body-star-icon:hover {
  transform: scale(1.2);
}
.dashboard-container .content .content-body .content-body-lock-icon,
.dashboard-container .content .content-body .content-body-unstar-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.2s ease-in-out;
}
.dashboard-container .content .content-body .content-body-unstar-icon:after {
  color: #ffe000;
  content: "\2606";
}
.dashboard-container
  .content
  .content-body
  .content-body-unstar-icon:hover:after {
  content: none;
  content: "\2605";
}
.dashboard-container .content .content-body .content-body-lock-icon:hover {
  transform: scale(1.2);
}
.dashboard-container .slide-menu .btn-open-slide-menu {
  display: none;
}
.dashboard-container .slide-menu .btn-close-slide-menu {
  position: absolute;
  top: 10px;
  display: none;
  right: 10px;
  color: grey;
}
.dashboard-container .slide-menu .btn-close-slide-menu:hover svg {
  color: black;
}
@media screen and (max-width: 1280px) {
  .dashboard-container {
    padding: 10px 0;
    position: relative;
    /* box-sizing: border-box; */
  }
  .dashboard-container .slide-menu {
    position: fixed;
    background-color: var(--hover-color);
    z-index: 1;
    height: 100%;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease-in-out;
    top: 0;
    width: 0;
    overflow: auto;
  }
  .dashboard-container .content {
    width: 100%;
  }
  .dashboard-container .slide-menu .btn-close-slide-menu {
    display: block;
  }
  .dashboard-container .slide-menu .btn-open-slide-menu {
    position: fixed;
    top: 40%;
    background-color: var(--hover-text-color);
    color: var(--hover-color);
    padding: 10px;
    padding-left: 0;
    justify-content: center;
    align-self: center;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .dashboard-container .slide-menu .slide-menu-top-items:hover,
  .dashboard-container .slide-menu .workspace-dropdown-items:hover,
  .dashboard-container
    .slide-menu
    .slide-menu-workspace-list
    .list-workspace-title:hover,
  .dashboard-container .slide-menu .workspace-dropdown ul li:hover {
    background-color: transparent;
    color: var(--hover-text-color);
    cursor: pointer;
  }
  .dashboard-container .slide-menu .btn-open-slide-menu svg {
    height: 20px;
    width: 20px;
  }
}
/* Workspace */
.workspace-container {
  flex-grow: 1;
  height: calc(100% - 44px);
}
.workspace-container .wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/bg.jpeg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-y: auto;
  padding-bottom: 20px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.workspace-container .wrapper .header {
  justify-content: space-around;
  padding: 10px 20px;
  height: 58px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.workspace-container .wrapper .header .header-workspace-name {
  font-size: 30px;
  font-weight: bold;
}
.workspace-container .wrapper .header-divider {
  border-left: 1px solid #ffffff3d !important;
  float: left;
  height: 16px;
  margin: 8px 8px 12px 4px;
  padding: 0 !important;
  cursor: default !important;
}
.workspace-container .wrapper .header,
.workspace-container .wrapper .header .header-btn,
.workspace-container .wrapper .header .header-participants {
  display: flex;
  align-items: center;
}
.workspace-container .wrapper .header .header-btn .workspace-header-star-icon {
  padding: 10px 5px;
}
.workspace-container .wrapper .header .header-btn div,
.workspace-container
  .wrapper
  .header
  .header-participants
  div:not(:nth-child(1)) {
  padding: 10px 7px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: var(--border-radius);
  margin: 0 5px;
}
.workspace-container
  .wrapper
  .header
  .header-btn
  div:not(div.header-divider):hover,
.workspace-container
  .wrapper
  .header
  .header-participants
  div:not(:nth-child(1)):hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.workspace-container .wrapper .header .header-btn span svg {
  vertical-align: bottom;
  padding-left: 5px;
  padding-right: 5px;
}
.workspace-container .wrapper .header .header-participants img {
  display: relative;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: -3px;
}
.workspace-container .wrapper .header .header-participants {
  display: inline-flex;
  justify-content: space-around;
}
.workspace-container .wrapper .header .header-participants img:hover {
  filter: brightness(150%);
}
@media screen and (max-width: 1280px) {
  .workspace-container .wrapper .header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .workspace-container .wrapper .header .header-btn span:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .workspace-container .wrapper .header .header-divider,
  .workspace-container .wrapper .header .header-participants {
    display: none;
  }
}

.workspace-container .wrapper .body {
  padding-top: 58px;
  width: fit-content;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

/* Card component */
.card {
  color: black;
  border-radius: var(--border-radius);
  min-width: 23vw;
  width: 300px;
  margin: 0 10px;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .card {
    min-width: 30vw;
  }
}
.card .card-wrapper {
  background-color: #ebecf0;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: 28px;
  padding: 10px 0;
}
.card .card-header span {
  padding: 10px;
}
.card .card-header span:nth-child(2) {
  border-radius: var(--border-radius);
  font-size: 18px;
  height: 18px;
  width: 18px;
  color: #00000080;
}

.card .card-body {
  overflow-x: auto;
  max-height: 70vh;
  position: relative;
  height: calc(100% - 28px - 18px);
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.card .card-body .item-add .item-add-content {
  padding: 0;
  position: relative;
  display: flex;
}
.card .card-body .item-add .item-add-content input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
.card .card-body .item-add .item-add-button {
  padding-bottom: 5px;
}

.card .card-body .item-add .item-add-button button {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin: 0;
}
.card .card-body .item-add .item-add-button span {
  font-size: 22px;
  padding: 10px;
}
.card .card-body .item-add .item-add-button svg {
  vertical-align: middle;
}
.card .card-body .item-add .item-add-button span:hover svg {
  color: var(--danger-color);
}
.card .card-body .item-add .item-add-button button:hover {
  background-color: #1e8336;
}
.card .card-footer {
  display: flex;
  padding: 10px 0;
  margin: 5px 0;
  color: #00000080;
  border-radius: var(--border-radius);
  height: 18px;
}
.card .card-header span:nth-child(2):hover,
.card .card-footer:hover {
  cursor: pointer;
  color: #000000;
  background-color: #00000010;
}
.card .card-footer span {
  padding: 0 5px;
  font-size: 16px;
}
.card .card-footer span svg {
  margin-right: 5px;
  vertical-align: bottom;
}
.card-create .card-wrapper {
  background-color: rgba(255, 255, 255, 0.65);
  padding-bottom: 10px;
}
.card-create .card-wrapper:hover {
  background-color: #ebecf0;
  cursor: pointer;
}
/* Item */
.item {
  border-radius: var(--border-radius);
  background-color: white;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 5px 0;
}
.item:hover {
  background-color: #ffffffc9;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}
.item svg {
  color: #00000080;
}
.item .item-top,
.item .item-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}
.item .item-top svg {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  margin-right: -5px;
}
.item .item-top svg:hover {
  color: black;
}
.card .card-body .item:hover .item-top svg {
  margin-right: 0px;
  opacity: 1;
}
.item .item-bottom span:nth-child(1) svg {
  margin: 10px 5px;
  margin-bottom: 0px;
}
.item .item-bottom img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* Login */
.login-container {
  height: 100%;
  position: relative;
  letter-spacing: 0.4px;
  text-align: center;
  overflow: hidden;
}
.login-container .login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.login-container .login-wrapper .login-img-top {
  position: relative;
  height: 300px;
  width: 300px;
  box-sizing: border-box;
}
@keyframes border-scale {
  to {
    transform: scale(1.2);
    filter: brightness(100%);
    opacity: 0.8;
  }
}
.login-container .login-wrapper:hover .logo-border {
  animation: border-scale 2s ease-in-out forwards;
}
.login-container .login-wrapper .login-img-top .logo-border {
  height: 100%;
  filter: brightness(30%);
}
.login-container .login-wrapper .login-img-top .logo-img {
  position: absolute;
  height: 100px;
  top: 30%;
  left: 27%;
}
.login-container .login-wrapper .login-social {
  width: 300px;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  font-size: 22px;
  transition: transform 2s;
  margin: 5px 0;
}
.login-container .login-wrapper .login-social span:hover svg {
  transform: scale(1.5);
}
.login-container .login-wrapper .login-social .facebook-icon:hover {
  color: #1877f2;
}
.login-container .login-wrapper .login-social .google-icon:hover {
  color: #ea4335;
}
.login-container .login-wrapper .login-social .linkedin-icon:hover {
  color: #0a66c2;
}
.login-container .login-wrapper .login-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
}
.login-container .login-wrapper .login-content div {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid lightgrey;
  width: 400px;
}
.login-container .login-wrapper .login-content input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 15px;
  font-size: 16px;
  margin: 0;
  border-color: transparent;
  box-sizing: border-box;
  width: 100%;
}
.login-container .login-wrapper .login-content .login-username {
  border-radius: 10px;
  padding: 5px;
}
.login-container .login-wrapper .login-content .login-password {
  border-radius: 0 0 10px 10px;
  padding: 5px;
}
.login-container .login-wrapper .login-content div svg {
  font-size: 30px;
  color: grey;
  padding: 0 10px;
  transition: all 0.5s ease-in-out;
}
.login-container .login-wrapper .login-content div svg:hover {
  color: black;
}
.login-container .login-wrapper .login-footer {
  padding-bottom: 60px;
  text-align: center;
}
.login-container .login-wrapper .login-footer .login-footer-checkbox {
  display: inline-flex;
  vertical-align: bottom;
  cursor: pointer;
}
.login-container .login-wrapper .login-footer hr {
  border: 0.01px solid rgb(240, 240, 240);
  margin: 30px 0;
}
.login-container .login-wrapper .login-footer span {
  color: #06c;
  vertical-align: bottom;
  display: inline-flex;
}
.login-container .login-wrapper .login-footer span:hover {
  text-decoration: underline;
}
.login-container .login-wrapper .login-footer .forgot-password svg {
  transform: rotate(45deg);
  margin-left: 5px;
  box-sizing: border-box;
}

/* Profile */
.profile-container {
  height: calc(100% - 44px);
  width: 100%;
  position: relative;
  overflow: auto;
}
.profile-container .profile-top {
  height: 25%;
  display: flex;
  justify-content: center;
  background-color: #f4f5f7;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .profile-container .profile-top {
    flex-direction: column;
  }
  .profile-container .profile-top span {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
}
.profile-container .profile-top .profile-top-name {
  font-size: 30px;
  letter-spacing: 1.6px;
  padding: 0 20px;
}
.profile-container .profile-top .profile-top-mail {
  font-size: 20px;
  vertical-align: bottom;
  color: grey;
}
.profile-container .profile-top img {
  width: 50px;
  height: auto;
  border-radius: 25px;
}
.profile-container .profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  height: fit-content;
  padding: 20px 0;
}
.profile-container .profile-content .profile-content-input {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.profile-container .profile-content .profile-content-input label {
  font-size: 20px;
  font-weight: 600;
}
.profile-container .profile-content .profile-content-input input {
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgb(245, 245, 245);
  width: 300px;
  font-size: 18px;
  box-sizing: border-box;
}
.profile-container .profile-content .profile-content-input input:hover {
  background-color: rgb(250, 250, 250);
}
.profile-container .profile-content .profile-content-input input:focus {
  background-color: white;
}
.profile-container .profile-content .btn-save-update {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin: 0;
  width: 300px;
}
.profile-container .profile-content .btn-save-update:hover {
  background-color: #1e8336;
}

/* Modal */
.modal-overlay {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.modal-overlay .modal-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px 0;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 786px) {
  .modal-overlay .modal-container {
    width: 500px;
  }
}
.modal-overlay .modal-container hr {
  border: 0.1px solid rgb(240, 240, 240);
}
.modal-container .modal-header {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 4px 0;
  box-shadow: var(--box-shadow);
}
.modal-container .modal-header svg {
  color: rgb(100, 100, 100);
}
.modal-container .modal-header svg:hover {
  color: black;
}
.modal-container .modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.modal-container .modal-body input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.modal-container .modal-body input:focus {
  background-color: #f3fdff;
  outline: none;
}
.modal-container .modal-body .modal-title {
  font-weight: bold;
  margin: 5px 0;
}
.modal-container .modal-body .radio-options {
  display: flex;
  padding: 0 10px;
}
.modal-container .modal-body .radio-options label {
  flex: 50%;
}
.modal-container .modal-footer {
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-evenly;
}
.modal-container .modal-footer button {
  color: black;
  background-color: var(--main-color);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.modal-container .modal-footer .btn-close {
  background-color: inherit;
  border-color: var(--main-color);
}
.modal-container .modal-footer button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}
